os: linux
arch: ppc64le
dist: focal
sudo: required
services:
  - docker
language: go
go:
- "1.18.x"

env:
  - CONSUL_VERSION=0.7.5 GOMAXPROCS=4 GO111MODULE=on

before_install:
  - curl -sLo consul.zip https://releases.hashicorp.com/consul/${CONSUL_VERSION}/consul_${CONSUL_VERSION}_linux_amd64.zip
  - unzip consul.zip
  - mkdir -p ~/bin
  - mv consul ~/bin
  - export PATH="~/bin:$PATH"

install:
  - sudo apt update
  - sudo apt-get install lftp unzip zip
  - printf "set ssl:verify-certificate false" >> ~/.lftprc
  - sudo apt install rpm
  - sudo apt install build-essential python3 tar wget
  - python3 ftp_version.py

script:
- bash build.sh

notifications:
  slack:
    rooms:
      - secure: "k9mqEUaOZkey6i6d02TMj+GqSE3oEw5LBptXzjBERuh78UvqzhoIU1/Ge7whHs+4R62WEJEvy1p+tKObB4Ypscq0gUB5OhgYhd9eU50rLWU/WisdURVcZbEO2hZ4MyG6SHEm3NfLAK9t+uuWaDkAqYE6KtdKmwzg8W5FDsIHZqBmA0FikngRVl3NG/M1elivICtXk8ha7muhGfrfECet0oweyQPhcH3TtXmbWHOujuyGnW/cJGCqqGPrAoao+WUyI7OHN3UEjycTDCkHl17ckN86xnfck9b7uUNbdYMMDXOPzq1i3kkgrw7lJNpzqgSoE08Fye31Ghe0RyOyMu0eJTHOC5MLH+vXsLOvx64FY2dGvu2z7Bq121lehFck+6VyyBNxoGRHzsIDNrGMZCuKThwCB7dhTSCF9sxWG2YdPE+fG7jOl2SfnysmNLenHknfyq5oDV+XmJC/lHGMO3ZvshucJ1on1xj1qhJv5D/V7817Y1GsY4oeQ0xCzckMMfNOsUFhfM0+NGCyLYsGNvvmbpCq82QM2NPP4Rh32lto1Z9aktYwMmDmS+Gi8BFjQpfY9fvM0NSBfeIJVf3N/kMLtEStsW1+yEE280eWKOEUMAxWa70D8AvbfbR3lbjzFWe6sz4GD17+q0a6OtaNxawF1YHVW1BcIuetvKxTDTaDh+o="
    on_success: change
    on_failure: change
